body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    overflow: auto;
}

.landing-page {
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.landing-page.loading {
    background-color: #ffffff;
    overflow: hidden;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    animation: scaleLogo 2s 1s forwards, fadeOut 1s 2s forwards;
}

#loading-logo {
    animation: scaleLogo 2s 1s forwards, fadeOut 1s 2s forwards;
    width: 350px; /* Set an initial width for the logo */
}

@keyframes scaleLogo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(35);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 30px 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.pushdown {
    position: relative;
    top: 87px;
  }

.enclosed-content {
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* width: 90vw; */
    padding: 0px 0px 40px 0px;
    border-radius: 20px;
}

.hero {
    margin: 0;
    text-align: center;
    padding: 0 0;
    /* background-color: rgba(0, 0, 0, 0.9); */
    width: 100vw;

}

.friends_banner {
    width: 100%;
}
.friends-box {
    align-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    height: 80px;
    padding-top: 15px;
    height: 100%;
    /* border: 1px solid white; */
}

.hero h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.discover {
    text-align: center;
    position: relative;
    border: 1px solid #ffffff;
    margin: 35px;

}
.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid white;
    margin: 35px;
    position: relative; /* Add this line */
    max-height: 600px;

}

.feature-text {
    font-weight: 600;
    flex: 1;
    padding: 16px;
    margin: 20px;
    text-align: center;
    align-self: center;
}

.feature h2 {
    color: white;
}

.landing-image {
    max-height: 600px;
    flex: 1;
    width: 50%;
    align-self: center;
    margin: 15px;
}
.carousel-container h1 {
    text-align: center;
    
}
.carousel-container {
    border: 1px solid white;
    margin: 35px;
    padding: 15px 0px 15px 0px;
}

.footer {
    font-family: "Segoe UI";
    text-align: center;
    padding: 1.2rem;
    background-color: #000000;
}

/* Mobile and Tablet Friendly Styles */

@media (max-width: 1300px) {
    .hero h1 {
        font-size: 2rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .enclosed-content {
        /* width: 90vw; */
        padding: 0px 15px 15px 15px;
    }

    .main-content {
        padding: 0 20px 20px 20px;
    }

    #loading-logo {
        width: 350px; /* Smaller initial width for the logo on tablet and mobile */
    }

    @keyframes scaleLogo {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(30); /* Adjusted scaling for tablet and mobile */
        }
    }
}

@media (max-width: 630px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature.row-reverse {
        flex-direction: column;
    }

    .feature-text, .landing-image {
        width: 100%;
    }

    .feature::before {
        display: none;
    }

    .enclosed-content {
        /* width: 95vw; */
        padding: 0px 10px 10px 10px;
    }

    .main-content {
        padding: 0px 10px 10px 10px;
    }

    #loading-logo {
        width: 350px; /* Smaller initial width for the logo on mobile */
    }

    @keyframes scaleLogo {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(17); /* Adjusted scaling for mobile */
        }
    }
}
