body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    overflow: auto;
}

.landing-page {
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.landing-page.loading {
    background-color: #ffffff;
    overflow: hidden;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    animation: scaleLogo 2s 1s forwards, fadeOut 1s 2s forwards;
}

#loading-logo {
    animation: scaleLogo 2s 1s forwards, fadeOut 1s 2s forwards;
    width: 350px; /* Set an initial width for the logo */
}

@keyframes scaleLogo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(35);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-image: url('../photos/booze.jpg'); /* Ensure the path is correct */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.enclosed-content {
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 90vw;
    padding: 30px 0 40px 0;
    border-radius: 20px;
}

.hero {
    margin: auto;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 84vw;

}

.hero h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 35px;
}

.feature {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid white;
    margin: 25px;
    position: relative; /* Add this line */
    background-color: rgba(0, 0, 0, 0.9);
}

.feature::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
}

.feature.row-reverse::before {
    left: 50%;
    transform: translateX(50%);
}

.feature.row-reverse .feature-text {
    order: 1;
}

.feature-text {
    flex: 1;
    padding: 16px;
    text-align: center;
    align-self: center;
}

.feature h2 {
    color: white;
}

.landing-image {
    flex: 1;
    width: 50%;
    align-self: center;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
}

/* Mobile and Tablet Friendly Styles */

@media (max-width: 1300px) {
    .hero h1 {
        font-size: 2rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .feature.row-reverse {
        flex-direction: column;
    }

    .feature-text, .landing-image {
        width: 100%;
    }

    .feature::before {
        display: none;
    }

    .enclosed-content {
        width: 90vw;
        padding: 15px;
    }

    .main-content {
        padding: 20px;
    }

    #loading-logo {
        width: 350px; /* Smaller initial width for the logo on tablet and mobile */
    }

    @keyframes scaleLogo {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(30); /* Adjusted scaling for tablet and mobile */
        }
    }
}

@media (max-width: 630px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature.row-reverse {
        flex-direction: column;
    }

    .feature-text, .landing-image {
        width: 100%;
    }

    .feature::before {
        display: none;
    }

    .enclosed-content {
        width: 95vw;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    #loading-logo {
        width: 350px; /* Smaller initial width for the logo on mobile */
    }

    @keyframes scaleLogo {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(17); /* Adjusted scaling for mobile */
        }
    }
}
